<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todolist</title>
    <script src="./js/vue.js"></script>
</head>

<body>
    <div id="app">
        <!-- v-model 数据双向绑定 -->
        <input type="text" v-model="inputValue">
        <!-- v-on 绑定事件，触发事件在实例中的methods -->
        <button v-on:click="handleBtnClick">提交</button>
        <ul>
            <!-- :是v-bind:的简写 动态绑定一个或多个特性，或一个组件prop表达式  -->
            <todo-item :content="item" :index="index" v-for="(item, index) in list" @delete = "handleItemDelete">
            </todo-item>
        </ul>
    </div>

</body>
<script>
    /* 注册全局组件 注册时可以大写，但是在html使用时，小写需要驼峰表示  
     *props:获取todo-item的v-bind获取的值
     */
    // Vue.component("TodoItem", {
    //     props: ["content"],
    //     // template: "<li>"+content+"</li>"  vue中template变量要用{{content}}格式
    //     template: "<li>{{content}}</li>"
    // })
    /**
     注册局部组件  
     将组件注册入app实例 
    */
    var TodoItem = {
        // index表示当前点击list数组的对应值的下标
        props: ["content","index"],
        //@ 是 v-on:的缩写,给子组件绑定事件 
        template: "<li @click='handleItemClick'>{{content}}</li>",
        methods: {
            handleItemClick: function () {
                //触发当前实例的事件，附加参数回传给监听器回调，子组件向父组件传递
                this.$emit("delete",this.index);
            }
        }
    }

    var app = new Vue({
        el: '#app',
        components: {
            TodoItem: TodoItem
        },
        data: function () {
            return {
                list: [],
                inputValue: ''
            }

        },
        methods: {
            handleBtnClick: function () {
                this.list.push(this.inputValue)
                this.inputValue = ''
            },
            handleItemDelete: function(index){
                this.list.splice(index,1)
            }
        }
    })
</script>

</html>